# Kinetis K6X MCU line

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_KINETIS_K7X
	bool
	select SOC_FAMILY_KINETIS

config SOC_SERIES
	default "k7x" if SOC_SERIES_KINETIS_K7X

config SOC_MK70F12
	bool
	select SOC_SERIES_KINETIS_K7X

config SOC
	default "mk70f12" if SOC_MK70F12

config SOC_PART_NUMBER_MK70FN1M0CAJ12
	bool

config SOC_PART_NUMBER
	default "MK70FN1M0CAJ12" if SOC_PART_NUMBER_MK70FN1M0CAJ12
