
menuconfig INPUT_CRTOUCH
    bool "CRTouch input driver"
    default y
    depends on I2C || SPI
    depends on DT_HAS_NXP_CRTOUCH_ENABLED
    select INPUT_TOUCH
    help
        Enable driver for NXP CRTouch driver.

if INPUT_CRTOUCH

config INPUT_CRTOUCH_PERIOD
	int "Sample period"
	depends on !INPUT_CRTOUCH_INTERRUPT
	default 10
	help
	  Sample period in milliseconds when in polling mode.

config INPUT_CRTOUCH_INTERRUPT
	bool "Interrupt"
	default y if $(dt_compat_any_has_prop,$(DT_COMPAT_NXP_CRTOUCH),int-gpios)
	help
	  Enable interrupt support (requires GPIO).

endif